<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Template</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

    <div>
        <div >
            <a th:fragment="my-logo" th:href="@{/accueil}">
                <img th:src="@{/images/logo.png}" alt="superLogo">
            </a>
        </div>
        <div>
            <ul th:fragment="my-navBar">
                <li><a th:href="@{/accueil}">Accueil</a></li>
                <li><a th:href="@{/recherche}">Recherche</a></li>
<!--                <li><a th:href="@{/listeFahrzeug}">Véhicules</a></li>-->
                <li><a  th:href="@{/monCompte}">Mon compte</a></li>
                <li><a  th:href="@{/login}">Déconnexion</a></li>
    <!--            <li><a th:href="@{/about}">About</a></li>-->
            </ul>
        </div>
        <div>
            <ul th:fragment="my-navBarOut">
                <li><a th:href="@{/accueil}">Accueil</a></li>
                <li><a th:href="@{/newBenutzer}">M'enregistrer</a></li>
                <li><a  th:href="@{/login}">Connexion</a></li>
            </ul>
        </div>
    </div>

    <div>

    </div>


</body>
</html>