<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${currentBenutzer} != null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBar}"></div>
<div th:if="${currentBenutzer} == null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBarOut}"></div>
<div class="logo" th:insert="~{fragments/my-template :: my-logo}"></div>


<div class="bodyDivRow">

    <div class="divGauche">
        <h1 class="marginM">Bienvenue chez TECHVROOM </h1>
        <h3 class="marginL">
            Trouvez la voiture de vos rêves, la moto qui vous fera frissonner, <br/>
            ou encore l'utilitaire qui déménage !
        </h3>
        <a th:if="${currentBenutzer} != null" href="recherche" class="btn btnPrimary"> En voiture Simone ! </a>
        <a th:if="${currentBenutzer} == null" href="login" class="btn btnPrimary"> Me connecter </a>
        <a th:if="${currentBenutzer} == null" href="newBenutzer" class="btn btnPrimary ms-3"> Créer mon compte </a>
    </div>

    <div class="divDroite alignCenter">

        <img th:src="@{/images/lamborghiniEvo.png}" alt="vroum" class="imgAccueil">

    </div>

</div>


</body>
</html>