<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${currentBenutzer} != null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBar}"></div>
<div th:if="${currentBenutzer} == null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBarOut}"></div>
<div class="logo" th:insert="~{fragments/my-template :: my-logo}"></div>

<div class="bodyDivConfirmation">

    <h2 class="marginM"> Bravo, le véhicule est à vous ! </h2>
    <img th:src="@{/images/clefs.png}" alt="clefs" class="imgConfirmation marginM">
    <a class="btn btnPrimary" th:href="@{/monCompte}">Je vais voir mon compte !</a>

</div>

</body>
</html>