<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="navBarDiv" th:insert="~{fragments/my-template :: my-navBar}"></div>


<div class="bodyDiv">

    <h1>Vous avez bien réservé le véhicule </h1>

<!--    <p th:text="${fahrzeug.couleur}"></p>-->
<!--    <p th:text="${fahrzeug.modele}"></p>-->
<!--    <p th:text="${fahrzeug.immatriculation}"></p>-->
<!--    <p th:text="${fahrzeug.marque}"></p>-->
<!--    <p th:text="${fahrzeug.type}"></p>-->

<!--    <p th:text="${prix}"></p>-->



</div>


</body>
</html>