<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${currentBenutzer} != null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBar}"></div>
<div th:if="${currentBenutzer} == null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBarOut}"></div>
<div class="logo" th:insert="~{fragments/my-template :: my-logo}"></div>

<div class="bodyDivConfirmation">

    <h2 class="marginM"> Vous êtes dans une impasse </h2>
    <img th:src="@{/images/stop.png}" alt="interdit" class="imgCard marginM">
    <a class="btn btnPrimary" th:href="@{/newBenutzer}">Je retente ma chance !</a>

</div>


</body>
</html>