<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste Fahrzeg</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${currentBenutzer} != null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBar}"></div>
<div th:if="${currentBenutzer} == null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBarOut}"></div>
<div class="logo" th:insert="~{fragments/my-template :: my-logo}"></div>

<div class="bodyDiv">

    <h2 class="marginM alignCenter">Liste des véhicules disponibles</h2>

    <div class="divCards">

        <div th:each="fahrzeug : ${selectedFahrzeug}" class="divCard">
            <div class="divInfos">
                <div class="divGauche">
                    <h4 class="marginXS" th:utext="${fahrzeug.marque} + ' ' + ${fahrzeug.modele }">...</h4>
                    <p class="italique marginXS" th:utext="${fahrzeug.couleur}">...</p>
                    <p class="italique" th:if="${fahrzeug.cylindree} != 0"
                       th:utext="'Cylindrée : ' + ${fahrzeug.cylindree} + ' cm3'"></p>
                    <p class="italique" th:if="${fahrzeug.volumeChargement} != 0"
                       th:utext="'Volume de chargement : ' + ${fahrzeug.volumeChargement} + ' m3'"></p>
                    <span class="marginXS">Prix de reservation : </span> <strong
                        th:utext="${fahrzeug.prixReservation} + ' €'"></strong>
                    <br>
                    <span class="marginXS">Tarif kilométrique : </span> <strong
                        th:utext="${fahrzeug.tarifKm} + ' €/km'"></strong>
                </div>
                <div class="divDroite alignCenter">
                    <img class="imgCard" th:src="${fahrzeug.image}" th:alt="${fahrzeug.modele }">
                </div>
            </div>
            <div class="btnForm">
                <a class="btn btnPrimary" th:href="@{/reservierung} +'/' + ${fahrzeug.id}"> VROOOOUM </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>