<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="navBarDiv" th:insert="~{fragments/my-template :: my-navBar}"></div>


<div class="bodyDiv">

    <h1>Recherche</h1>

    <form th:action="@{/recherche}"
          th:object="${reservierungForm}" method="POST">
        BenutzerId:
        <input type="text" th:field="*{benutzerId}" /> <br/>
        FahrzeugId:
        <input type="text" th:field="*{fahrzeugId}" /> <br/>
        FahrzeugType:
        <input type="text" th:field="*{fahrzeugType}" /> <br/>
        DateDebut:
        <input type="text" th:field="*{dateDebut}" /> <br/>
        Duree:
        <input type="text" th:field="*{duree}" /> <br/>
        Prix:
        <input type="text" th:field="*{prix}" /> <br/>
        <input type="submit" value="Create" />
    </form>

    <br/>

    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>

</div>


</body>
</html>