<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${currentBenutzer} != null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBar}"></div>
<div th:if="${currentBenutzer} == null" class="navBarMenu" th:insert="~{fragments/my-template :: my-navBarOut}"></div>
<div class="logo" th:insert="~{fragments/my-template :: my-logo}"></div>


<div class="bodyDiv">

<!--    <h2 class="marginM">Encore un effort ... et en voiture !! </h2>-->

    <div class="divCards">
        <div class="divRecap">
            <div class="divGauche35">
                <div>
                    <h2 class="marginS">Récapitulatif du véhicule</h2>
                    <h4 class="marginXS" th:utext="${fahrzeug.marque} + ' ' + ${fahrzeug.modele }">...</h4>
                    <p class="italique marginXS" th:utext="${fahrzeug.couleur}">...</p>
                    <p class="italique" th:if="${fahrzeug.cylindree} != 0" th:utext="'Cylindrée : ' + ${fahrzeug.cylindree} + ' cm3'"> </p>
                    <p class="italique" th:if="${fahrzeug.volumeChargement} != 0" th:utext="'Volume de chargement : ' + ${fahrzeug.volumeChargement} + ' m3'"> </p>
                    <span class="marginXS">Prix de reservation : </span> <strong th:utext="${fahrzeug.prixReservation} + ' €'"></strong>
                    <br>
                    <div class="marginS">
                        <span>Tarif kilométrique : </span> <strong th:utext="${fahrzeug.tarifKm} + ' €/km'"></strong>
                    </div>
                    <strong style="color:#56ccb8" th:text="'Prix total : ' + ${prixAffiche} + ' €'"></strong>
                </div>
            </div>
            <div class="alignCenter divDroite65">
                <img class="imgRecap" th:src="${fahrzeug.image}" th:alt="${fahrzeug.modele }">
            </div>
        </div>
    </div>

    <div class="divForm">
        <form th:action="@{/reservierung} + '/' + ${fahrzeug.id}"
              th:object="${benutzerForm}" method="POST" class="form70">
<!--            <div class="mb-3 col-md-6 input-group-sm">-->
<!--                <label class="form-label" for="prenom"> Prénom :</label>-->
<!--                <input class="form-control" id="prenom" type="text" th:field="*{prenom}" />-->
<!--            </div>-->
<!--            <div class="mb-3 col-md-6 ps-3 input-group-sm">-->
<!--                <label class="form-label" for="nom"> Nom :</label>-->
<!--                <input class="form-control" id="nom" type="text" th:field="*{nom}"/>-->
<!--            </div>-->
<!--            <div class="mb-3 col-md-6 input-group-sm">-->
<!--                <label class="form-label" for="dateNaissance"> Date de naissance : </label>-->
<!--                <input class="form-control" id="dateNaissance" type="text" th:field="*{dateNaissance}" />-->
<!--            </div>-->
<!--            <div class="mb-3 col-md-6 ps-3 input-group-sm">-->
<!--                <label class="form-label" for="numeroPermis">Numéro de permis : </label>-->
<!--                <input class="form-control" id="numeroPermis" type="text" th:field="*{numeroPermis}" />-->
<!--            </div>-->
<!--            <div class="mb-3 col-md-6 input-group-sm">-->
<!--                <label class="form-label" for="anneeObtention">Année Obtention : </label>-->
<!--                <input class="form-control" id="anneeObtention" type="text" th:field="*{anneeObtention}" />-->
<!--            </div>-->
            <div class="mb-3 col-md-3 input-group-sm">
                <input class="form-control  divTransparent" type="text" th:field="*{prix}" th:attr = "value = ${prix}"/>
            </div>
            <div class="mb-3 col-md-3 input-group-sm">
                <input class="form-control divTransparent" type="text" th:field="*{fahrzeugType}" th:value="${fahrzeug.type}"/>
            </div>

            <div class="btnForm col-md-12">
                <input class="btn btnPrimary" type="submit" value="Je fonce ! " />
            </div>

        </form>
    </div>



<!--    -->
<!--    <div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--         style="color:red;font-style:italic;">-->
<!--    </div>-->

</div>


</body>
</html>