<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="navBarDiv" th:insert="~{fragments/my-template :: my-navBar}"></div>


<div class="bodyDiv">

    <h1>Informations sur le véhicule souhaité</h1>

    <p th:text="${fahrzeug.couleur}"></p>
    <p th:text="${fahrzeug.modele}"></p>
    <p th:text="${fahrzeug.immatriculation}"></p>
    <p th:text="${fahrzeug.marque}"></p>
    <p th:text="${fahrzeug.type}"></p>

    <p th:text="${prix}"></p>


    <form th:action="@{/reservierung} + '/' + ${fahrzeug.id}"
          th:object="${benutzerForm}" method="POST">
        Prénom :
        <input type="text" th:field="*{prenom}" /> <br/>
        Nom :
        <input type="text" th:field="*{nom}"/> <br/>
        Date de naissance :
        <input type="text" th:field="*{dateNaissance}" /> <br/>
        Numéro de permis :
        <input type="text" th:field="*{numeroPermis}" /> <br/>
        Année Obtention :
        <input type="text" th:field="*{anneeObtention}" /> <br/>

        Prix:
        <input type="text" th:field="*{prix}" th:attr = "value = ${prix}" /> <br/>
        Fahrzeug Type:
        <input type="text" th:field="*{fahrzeugType}" th:value="${fahrzeug.type}" /> <br/>

        <input type="submit" value="Create" />
    </form>


<!--    -->
<!--    <div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--         style="color:red;font-style:italic;">-->
<!--    </div>-->

</div>


</body>
</html>