@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --colorDark: #333;
    --colorLight: #CCC;
    --colorBlue: #56ccb8;
    --colorRed: #c9105a;
}

/*--------------------------Body-------------------------*/
.bodyDiv{
    padding: 150px;
}

/*--------------------------Text-------------------------*/
body{
    font-family: Roboto, sans-serif;
}
h1 {
    color: var(--colorBlue);
}
h2 {
    color: var(--colorRed);
}

/*------------------------Table-------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid var(--colorDark);
}
table tr th {
    text-align: left;
    background-color: var(--colorDark);
    color: var(--colorLight);
}
table th, table td {
    padding: 10px 20px;
}

/*-----------------------NavBar--------------------------*/
.navBarDiv{
    padding: 20px;
    background-color: var(--colorDark);
}
.navBarDiv ul li a{
    margin-right: 20px;
    color: var(--colorLight);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}