@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --colorDark: #232527;
    --colorLight: #EAEBECFF;
    --colorBlue: #56ccb8;
    --colorRed: #c9105a;
}

/*--------------------------Body-------------------------*/
html, body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(25, 25, 26) 0%, rgb(0, 0, 0) 100%);
}

/*--------------------------Divs-------------------------*/
.bodyDiv{
    padding: 0 10%;
    margin-top: 50px;
}
.bodyDivRecap{
    padding: 0 10%;
}
.bodyDivRow{
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.bodyDivLogin{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.bodyDivConfirmation{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.divGauche{
    width: 50%;
}
.divDroite{
    width: 50%;
}
.divGauche35{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.divDroite65{
    width: 65%;
}
.marginXS{
    margin-bottom: 5px;
}
.marginS{
    margin-bottom: 20px;
}
.marginM{
    margin-bottom: 50px;
}
.marginL{
    margin-bottom: 80px;
}
.divForm{
    display: flex;
    justify-content: center;
}
form{
    padding: 40px;
    width: 50%;
}
.formColor{
    background-color: #232527;
}
.divRecherche{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.divCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divCard{
    margin-bottom: 40px;
    width: 50%;
    background-color: var(--colorDark);
    padding:40px 40px 30px 40px;
}
.divCardResa{
    margin-bottom: 40px;
    width: 80%;
    background-color: var(--colorDark);
    padding:20px 40px;
}
.divRecap{
    width: 70%;
    display:flex;
    flex-direction: row;
}
.divInfos{
    display:flex;
    flex-direction: row;
}
.divInfosRecap{
    width: 80%;
    padding: 30px 10%;
}
.divMonCompte{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-control.divTransparent{
    color:transparent;
    background-color: transparent;
    border-color: transparent;
}
/*--------------------------Text-------------------------*/
body{
    font-family: Roboto, sans-serif;
    color: var(--colorLight);
}
h3 {
    font-size: 18px;
    font-weight: 300;
}
h4{
    font-size: 20px;
    font-weight: bold;
}
.alignCenter{
    text-align: center;
}
.italique{
    font-style: italic;
}
.titre{
    margin-left:30px;
}
p, span, label{
    font-size: 14px;
}

/*------------------------Table-------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid var(--colorDark);
}
table tr th {
    text-align: left;
    background-color: var(--colorDark);
    color: var(--colorLight);
}
table th, table td {
    padding: 10px 20px;
}

/*-----------------------NavBar--------------------------*/
.navBarMenu{
    padding: 0 10%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,236,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}
.navBarMenu ul li a{
     margin-right: 20px;
     color: var(--colorDark);
     text-decoration: none;
 }
.logo{
    background-color: #000000;
    width: 20%;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin: -100px 0 0 10%;
}
.logo img{
    width: 70%;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}

/*-----------------------Images--------------------------*/
.imgAccueil{
    width: 100%;
}
.imageVoiture{
    width:80px;
}
.imgCard{
    width:300px;
}
.imgCardResa{
    width:200px;
}
.imgRecap{
    width:500px;
}
.imgConfirmation{
    width: 600px;
}

/*-----------------------Button--------------------------*/
.btnPrimary{
    background-color: var(--colorLight);
    color: var(--colorDark);
    padding: 8px 20px;
}
.btnForm{
    text-align: center;
    margin-top: 30px;
}


/*------------------------Form---------------------------*/
.form-control {
    color: var(--colorLight);
    background-color: var(--colorDark);
    border: 2px solid #626c75;
}
.form-control:focus {
    color: var(--colorLight);
    background-color: #4e4c4c;
    border-color: var(--colorLight);
    box-shadow: 0 0 0 0.25rem rgb(25, 25, 26);
}
.form-control:active {
    color: var(--colorLight);
    background-color: #4e4c4c;
    border-color: var(--colorLight);
    box-shadow: 0 0 0 0.25rem rgb(25, 25, 26);
}

.form70{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
